:root {
  /** This value is updated when the slider is moved */
  --line-width: 300px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: auto;
  background-color: #fdfbf7;
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

textarea {
  width: 100%;
  font-family: sans-serif;
  min-height: 120px;
}

.demo-output {
  background-color: white;
  font-family: serif;
  font-size: 16px;
  border: 1px solid #aaa;
  margin: 10px auto;
  padding: 15px 30px;
  line-height: 1.6;
  width: calc(var(--line-width) + 40px);
}
.demo-static {
  width: 100%;
}

.canvas {
  display: block;
  padding: 0;
}

.output-p {
  /*font-size: 13px;*/
  /*width: calc(var(--line-width) + 40px);*/
  /*height: 800px;*/
  /*border: 1px solid #aaa;*/
  /*margin-top: 10px;*/
  /*margin-left: 30px;*/
  /*margin-right: 30px;*/
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  /*padding-top: 10px;*/
  /*line-height: 30px;*/
  /*overflow: hidden;*/
}

.css-output-p {
  /**
   * Enable hyphenation where supported. See https://caniuse.com/#feat=css-hyphens
   *
   * As of 2018-04-07, Chrome's "auto" implementation is limited to macOS and Android.
   * See https://bugs.chromium.org/p/chromium/issues/detail?id=652964 and
   * https://chromium.googlesource.com/chromium/src/+/ed7e106e0e48b3afb160a5bdbb37649e307d2b05
   */
  hyphens: auto;
  text-align: justify;
}

.html-p {
  /*width: calc(var(--line-width) + 40px);*/
  /*font-size: 13px;*/
  /*margin-left: 30px;*/
  /*margin-right: 30px;*/
  /*border: 1px solid #aaa;*/
  /*line-height: 30px;*/
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}

.gutenberg .chapter {
  padding: 0 30px;
}

.gutenberg h1,
.gutenberg h2 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.gutenberg h1 {
  font-size: 300%;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  letter-spacing: 0.12em;
  word-spacing: 0.2em;
  text-indent: 0em;
}
.gutenberg h2 {
  font-size: 150%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.gutenberg hr {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.gutenberg p {
  text-indent: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1.2em;
  font-size: 14px;
}

.gutenberg .p2 {
  margin-top: 2em;
}
