:root {
  /** This value is updated when the slider is moved */
  --line-width: 300px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: auto;
  background-color: #fdfbf7;
  font-family: "Crimson", serif;
  font-size: 14px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-weight: normal;
}

textarea {
  width: 100%;
  font-family: sans-serif;
  min-height: 120px;
}

body > p {
  font-family: "Crimson", serif;
  font-size: 16px;
  line-height: 1.1;
  /*font-style: italic;*/
}

.demo-output {
  background-color: white;
  font-size: 16px;
  border: 1px solid #aaa;
  margin: 10px auto;
  padding: 15px 30px;
  line-height: 1.6;
  max-width: calc(var(--line-width) + 40px);
  width: 100%;
}

.canvas {
  display: block;
  padding: 0;
}

.gutenberg .chapter {
  padding: 0 30px;
}

.gutenberg h1,
.gutenberg h2 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.gutenberg h1 {
  font-size: 300%;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  letter-spacing: 0.12em;
  word-spacing: 0.2em;
  text-indent: 0em;
}
.gutenberg h2 {
  font-size: 150%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.gutenberg hr {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.gutenberg p {
  text-indent: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1.2em;
  font-size: 14px;
}

.gutenberg .p2 {
  margin-top: 2em;
}
