<!DOCTYPE html>
<html lang="en">
  <head>
    <title>tex-linebreak demo</title>
    <!--    <link-->
    <!--      rel="stylesheet"-->
    <!--      href="//brick.a.ssl.fastly.net/Crimson:400,700,400i"-->
    <!--    />-->

    <link rel="stylesheet" href="demo.css" />
  </head>
  <body>
    <h1><i>tex-linebreak</i> demo</h1>

    <p id="demo-output"></p>
    <!--
    <p>Input text:</p>
    <textarea rows="5" cols="80">
      "When the first paper volume of Donald Knuth's The Artdddddddddd of "Computer Programming was published in 1968,[4] it was typeset using hot metal typesetting set by a Monotype Corporation typecaster. This method, dating back to the 19th century, produced a "good classic style" appreciated by Knuth.</textarea
    >

    <p>
      Line width:
      <input
        type="range"
        min="150"
        max="500"
        class="js-line-width"
        value="430"
      />
    </p>

    <p>Input rendered as HTML:</p>
    <p class="demo-output html-p js-tex-linebreak"></p>

    <p>Input rendered to canvas:</p>
    <canvas class="demo-output canvas" width="500" height="800"></canvas>
    <p>
      Input justified by browser using <code>text-align: justify</code> and
      hyphenated with <code>hyphens: auto</code>:
    </p>
    <p class="demo-output output-p css-output-p"></p>
-->
    <!--    <script src="../../dist/demos.js"></script>-->

    <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
    <script
      type="text/javascript"
      src="<%= htmlWebpackPlugin.files.js[i] %>"
    ></script>
    <% } %>
  </body>
</html>
